* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {

    from {
        --rotate: 0deg
    }

    to {
        --rotate: 360deg
    }

}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box {
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: whitesmoke;
    border-radius: 20px;
    /* box-shadow: 0 0 50px rgb(176, 0, 0); */
    background: linear-gradient(black) padding-box, conic-gradient(from var(--rotate), black,black, rgb(176, 0, 0), black,black) border-box;
    border: 5px solid rgba(245, 245, 245, 0);
    animation: borderAnimate 6s infinite forwards;

}

.box img {
    width: 100%;
}