* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    cursor: none;
}

#cursor{
    height: 20px;
    position: fixed;
    transform: translate(-50%,-50%);
}