* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
main{
    height: 100%;

}

#box{
    height: 200px;
    width: 200px;
    background-color: white;
}

img{
    height: 200px;
    width: 400px;
    object-fit: contain;
    object-position: center;
}

img:hover{
    scale: 0.99;
}