* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#box{
    height: 200px;
    width: 200px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
}

button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}

button:active{
    scale: 0.95;
}

h2{
    color: white;
}