* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes changebgc{
    from{
        background-color: white;
        border-radius: 0px;
        scale: 1;
        box-shadow: 5px 5px 20px red;
    }

    to{
        background-color: red;
        border-radius: 50px;
        scale: 0.75;
        box-shadow: 5px 5px 20px rgb(255, 255, 255);
    }
}

.box {
    height: 300px;
    width: 300px;
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 20px red;
    animation: changebgc 5s infinite forwards alternate;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 40px;
    text-shadow: 2px 2px 2px red;
}


