* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(https://images.unsplash.com/photo-1764534513435-0ce1b310db63?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;


}

:root {
    --x: 300px;
    --y: 300px;
}

.box {
    height: 100%;
    width: 100%;
    cursor: none;
    background: radial-gradient(250px at var(--x) var(--y), transparent, rgba(0, 0, 0, 0.911));
}