* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --someAnchor;
}

.box {
    height: 80px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.box:hover {
    anchor-name: --someAnchor;
}

.red {
    background-color: rgba(255, 0, 0, 0.642);

}

.blue {
    background-color: rgba(0, 0, 255, 0.582);

}

.green {
    background-color: rgba(0, 128, 0, 0.614);
}

.anchor {
    background-color: whitesmoke;
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --someAnchor;
    transition: all 0.5s linear;
    mix-blend-mode: difference;
}