* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    background-color: black;
    color: white;
}

h2{
    font-size: 50px;
}

#box{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 5px;
}

button{
    padding:6px 27px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

