*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body {
height: 100%;
width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgba(65, 105, 225, 0.644);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.cards{
    height: 300px;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cards img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
}

.cards button{
    padding: 10px 25px;
    font-size: 13px;
    border-radius: 50px;
    background-color: royalblue;
    color: white;
    border: 2px solid royalblue;
}

.cards button:hover{
    background-color:transparent;
    color: royalblue;
    border: 2px solid royalblue;
}