* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    background-color: crimson;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}

h1{
    white-space: nowrap;
}

