* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-size: 100px;
}

button{
    padding: 10px 30px ;
    border: none;
    border-radius: 10px;
}

button:active{
    scale: 0.9;
}

h2,h3,h4{
    color: black;
}