* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 400px;
    width: 300px;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 10px;
    
}
.card>i{
    background: linear-gradient(to right bottom,rgb(255, 28, 255),rgb(195, 36, 18));
    color: transparent;
    background-clip: text;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    font-size: 100px;
    opacity: 0;
    transition: all cubic-bezier(1,1.93,.83,.67) 0.35s;

}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}
.bottom .left{
    display: flex;
    align-items: center;
    gap : 20px
}

.left,.right i{
    font-size: 25px;
    font-weight: 100;
}

.left i:first-child{
    
}