* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 50px; 
}

.outer{
    height: 20px;
    width: 100%;
    background-color: rgb(206, 205, 205);
    border-radius: 10px;
    margin-bottom: 20px;
}

h3{
    text-align: center;
    margin-bottom: 20px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 10px;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

button{
    padding: 10px 20px;
    background-color: green;
    border: none;
    border-radius: 5px ;
    color: white;
}

button:active{
    scale: 0.95;
}